/* Global Styles */
html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* try a midnight purple for the background-color */
body {
    background-color: #22022f;
}

hr {
    height: 10px;
    margin: 2.5vw 0;
    background-color:#04B6CC;
    border: none;
}

.font-styling {
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    -webkit-text-stroke: 1px #023939;
    /* text-shadow: -12px -12px 24px aliceblue; */
}
/* header desktop styles */
#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5vw;
}

#header img {
    height: 10vw
}

#header a {
    list-style-type: none;
    font-size: 3vw;
    color: #4BA2A2;
    width: min-content;
}

#header a:hover {
    color:#04B6CC;
    text-shadow: 6px 6px 12px aliceblue;
    cursor: pointer;
}

.mobile-assets {
    display: none;
}
/* banner desktop styles */
#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    background-image: url(./images/3_long_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 30vw;
}

#banner h1, main h1, #founders h1, #contact-info h1 {
    font-size: 5vw;
    height:fit-content;
    width: 50%;
    text-align: center;
}

.mission-p, #founders p {
    margin-bottom: 2.5vw;
    /* background-color: #4BA2A299; */
    width: 50%;
    font-size: 1.75vw;
}
/* main desktop styles */
main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

main p {
    width: 75%;
    font-size: 1.75vw;
}

#js-photo-album img {
   height: 30vw;
   margin-top: 16px;
}

.btn-album {
    background-color: #02393975;
    /* border: 5px solid #4BA2A2; */
    height: 8vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-border, .staff-img {
    border: 5px solid #4BA2A2;
}

.btn-album button {
    width: 6vw;
    height: 4vw;
    background-color: #4BA2A2;
}

.fa-backward, .fa-play, .fa-forward{
    width: 100%;
}

.img-animation {
    border: 5px solid lavender;
    animation: border-shift 1s ease-in-out infinite alternate;
}

@keyframes border-shift {
    100% {
        box-shadow: 6px 6px 12px lavender,
        -6px -6px 12px plum,
        -8px -8px 16px violet
    }
}
/* founders desktop styles */
#founders {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
}

.staff-heading {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.staff-gallery {
    display: flex;
    justify-content: space-around;
}

.staff {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.staff-heading > *, .staff > * {
    margin: 0 0 .5vw 0;
}

.staff-gallery h2, #contact-info h2 {
    font-size: 2.5vw;
}

.staff-gallery h3 {
    font-size:1.75vw;
}

.staff-img {
    width: 10vw;
}
/* contact desktop styles */
#contact-info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#contact-info * {
    margin: 0 0 .5vw 0;
}
/* footer styles */
footer {
    font-size:1.75vw;
    margin-bottom: 2.5vw;
}

/* header mobile styles, target 768px */
@media only screen and (max-width: 768px) {
    /* header styles */
    #header, #banner {
        display: flex;
        flex-flow: column;
    }

    #header a {
        display: none;
    }
    /* banner styles */
    .desktop-assets {
        display: none;
    }

    .mobile-assets {
        display: flex;
    }

    .mobile-p {
        width: 70%
    }

    #banner, #js-photo-album img {
       height: 50vw;
    }
}