body * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #A7C7E7;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
}

#header img {
    height: 10vw
}

#header a {
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3vw;
    color: #4BA2A2;
    width: min-content;
}

#header a:hover {
    color:#04B6CC;
    text-shadow: 6px 6px 12px aliceblue;
    cursor: pointer;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url(./images/2_long_img.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 40vw;
}